<html lang='pl'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
		<link rel='stylesheet' type='text/css' href='/assets/css/style.css' />
	</head>
	<body>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, temporibus nulla? Pariatur optio necessitatibus
			minus libero cum quod assumenda harum fugit. Delectus dicta id labore ipsa rem error illo nostrum ad quidem, dolor
			eveniet nihil magni sit repudiandae dolore enim tenetur iste omnis beatae? Fugit voluptates cum aspernatur
			nesciunt eum?</p>

		<a href='./subpage'>Klik</a>

        <title>{{ pageTitle }}</title>

    

		<script src='../js/func.js'></script>
	</body>
</html>

{{! ./../assets/css/style.css }}